HTTP's cookie limits don't meet RFC's recommend limits

### Details
According to [RFC6265 Section 6.1](https://datatracker.ietf.org/doc/html/rfc6265#section-6.1), the HTTP should be able to handle `4096 bytes` for each cookie.

But currently, it seems like it can only handle cookies up to `2048 bytes` and it's the ***total*** size of all cookies. That's clearly under the limits recommended by RFC6265.

### Steps to reproduce
Send an HTTP request that replies with cookies larger (or equal?) than 2048 bytes.


The keyword in the rfc is SHOULD, it's not a requirement, moreso an expectation- this limit probably comes from an era when these standards were relatively new, but I agree- as long as its possible to change as this may be from isteamhttp